<!DOCTYPE html>
<html>
<head>
  <title>ChristmasLights</title>
 
 </head>
 <h1 class="homePageTitle">Homes with Christmas Lights Worth Visiting</h1>

<%= form_tag(homes_path, :method => "get") do %>
    <p> 
        <div class="searchLine">
        <%= text_field_tag :tag, params[:tag], :style => 'height: 30px; width: 350px' %>
        <%= submit_tag 'Search', :name => nil, :style => 'height: 30px' %>
        </div>
    </p>
    <% if @homes.blank? %>
        <h4 class="oneLineMessage">There are no posts containing the search term, <%=params[:search]%>.</h4>
    <% end %>    
<% end %>    

</html>