<!DOCTYPE html>
<html>
<head>
  <title>ChristmasLights</title>
 
 </head>
 <h1 class="homePageTitle">Homes with Christmas Lights Worth Visiting</h1>

<%= form_for_filterrific @filterrific do |f| %>

<div class='filter'>
    
    <p>Rating</p>
    <%= f.select(
      :rating,
      @filterrific.select_options[:rating],
      { include_blank: '- Any -' }
    ) %>
  </div>

  
 
  <%# add an automated spinner to your form when the list is refreshed %>
  <%#<%= render_filterrific_spinner %>
<% end %>
<div class='results'>
<%= render(
  partial: 'homes/list',
  locals: { homes: @homes }
) %>
</div>
</html>