///*
// * This is a manifest file that'll be compiled into application.css, which will include all the files
// * listed below.
// *
// * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
// *
// * You're free to add application-wide styles to this file and they'll appear at the bottom of the
// * compiled file so the styles you add here take precedence over styles defined in any styles
// * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
// * file per style scope.
// *
// *= require_tree .
// *= require_self
// */

/* Pull in bootstrap */
@import 'bootstrap';

/* Import any app style files below this line */
@import 'components/filterrific_filter';
@import 'components/chardinjs_overrides.css';

@import 'chardinjs.css';

#homeLogo {
  height: 30%;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#christmas-logo-small{
  height: 15%;
  width: 20%;
  display: block;
  margin: 0px;
  float: left;
}

.titleSpan{
  display: inline-block;
}

#icons {
  margin: 0;
  padding: 0;
}
#icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none;
}
#icons span.ui-icon {
  float: left;
  margin: 0 4px;
}

#nav-bar {
  padding-bottom: 25px;
}

#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

#nav-bar li {
  float: right;
  font-size: medium;
}

#nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-bar #float-left {
  float: left;
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

#navLogo {
  width: 8%;
}

/* Change the link color to #111 (black) on hover */
#nav-bar li a:hover {
  background-color: #111;
}

.sd-link {
  a {
    &:visited {
      color: purple;
      text-decoration: underline;
    }
    &:link {
      color: blue;
      text-decoration: underline;
    }
    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}

.page-title {
  color: black;
  text-align: center;
}

.home-title {
  text-align: center;
}

#new-user-form {
  padding-top: 25px;
  text-align: center;
}

#update-user-form {
  padding-top: 25px;
  text-align: center;
}

#add-home-form {
  padding-top: 25px;
  text-align: center;
}

.p-b_5 {
  padding-bottom: 5px;
}

.p-b_15 {
  padding-bottom: 15px;
}

.p-t_5 {
  padding-top: 5px;
}

input:focus {
  background-color: white;
}

.align-left {
  display: inline-block;
  text-align: left;
}

.align-right {
  display: inline-block;
  text-align: right;
}

.align-center {
  display: inline-block;
  text-align: center;
}

#divCheckPasswordMatch {
  color: red;
}

#change-pw-div {
  display: none;
  border: green;
  border-style: solid;
}

#change-email-div {
  display: none;
  border: green;
  border-style: solid;
}

#filterrific_filter {
  margin-bottom: 0;
}

.chardin_box {
  display: inline-block;
  padding: 0 3px;
}

.title {
  display: block;
  border: 1px blue;
  padding: 16px;
}

.left-title {
  float: left;
  text-align: right;
  display: inline-block;
}

.right-title {
  float: left;
  text-align: left;
  display: inline-block;
}

.col-md-8{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  margin-top: 30px;
}

.col-md-4{
  margin-top: 40px;

}

//.col-md-2{
//  border: 1px solid #e1e1e8;
//  border-radius: 4px;
//  margin-top: 30px;
//
//}

.first-col{
  padding: 0;

}

.second-col{
  padding: 0;
}

.comments_span{
  margin-top: 60px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;

}

//.nav-sidebar{
//  //left: 950px;
//  //width: 250px;
//  //background: #f9f9f9;
//  //position:absolute;
//  height: 75%;
//  //overflow-y: hidden;
//  //z-index: 1000;
//  transition: all 0.4s ease 0s;
//}

#map{
  height: 100%;
  margin: 0;
}

.glyphicon.glyphicon-thumbs-up{
  font-size: 25px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
}

.glyphicon.glyphicon-thumbs-down{
  margin-left: 30px;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.glyphicon.glyphicon-star{
  margin-left: 75px;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer{
  margin-top:200px;
  text-align: center;
}

.green-border {
  border: green !important;
  border-style: solid !important;
  border-radius: 4px !important;
}

.ns-link {
  a {
    color: black !important;
    &:visited {
      text-decoration: none;
    }
    &:link {
      text-decoration: none;
    }
    &:hover {
      background-color: transparent;
      text-decoration: none;
    }
  }
}

a, a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer, tr[data-href] {
  cursor: pointer;
}

.p-r_25 {
  padding-right: 25px;
}

.p-l_10 {
  padding-left: 10px;
}

hr {
  border: 1px solid darkgray;
}

.comment-content {
  background-color: white;
  border: solid;
  border-color: darkgray;
  width: 646px;
  text-wrap: normal;
}

.align-div-center {
  margin-left: 17%;
  margin-right: 27%;
  width: 100%;
}

.p-t_15 {
  padding-top: 15px;
}

.p-r_100 {
  padding-right: 100px;
}

.p-r_50 {
  padding-right: 50px;
}