<div id="nav-bar">
  <ul>
    <li><a href="#about">About</a></li>
    <% if $logged_in %>
      <li><a href="#my_account">My Account</a></li>
    <% else %>
      <li><a href="#sign_in">Sign In</a></li>
      <li><a href="#sign_up">Sign Up</a></li>
    <% end %>
    <li><a href="#home">Home</a></li>
    <!--<li id="float-left"><img id="navLogo" alt="home-page-logo" src="seechristmas-lights-logo.png" /></li>-->
  </ul>
</div>