
    <div class="nav-sidebar">
        <h3>Sidebar Section </h3>
        <ul>
            <li>
                <%= link_to "Googgle Map", "#" %>
            </li>
            <li>
                 <%= link_to "Weather Map", "#" %>
            </li>
     </ul>
        
    </div>
    