<!DOCTYPE html>
<html>
<head>
  <title>ChristmasLights</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <p class="headers">Logo for Christmas Lights
    <i class="glyphicon glyphicon-home"></i>
  </p>
</head>
<body>

<%= yield %>

</body>
<div class="footer">
  <span>Placeholder for footer</span>
</div>  
</html>
